

.photo{
	border-radius: 50%;
	border-style: solid;
	border-color: white;

}

.fname{
	color: #008aeb;
}

.front{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #000041;
	height: 270px;
	width: 60%;
	border-radius: 15px;
	z-index: 1;
	position: absolute;
	
}

.backend{
	
	text-align: center;
	background-image: linear-gradient(#008aeb,#0075cc);
	height: 270px;
	width: 60%;
	border-radius: 15px;

	transform: rotate(-10deg);
}