body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../img/loginfondo.svg);
	background-size: cover;
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,160,225,.8) 0%, rgba(22,70,212,.5) 90.1% );	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 15px;

}


.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align: center;
}

.box .inputBox{
	position: relative;
}

.box .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	outline: none;
	border-bottom: 1px solid white;
	background:transparent;
}

.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	pointer-events: none;
	transition: .5s;
}



.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label

{
	top: -18px;
	left: 0;
	color: white;
	font-size: 12px;

}





.box input[type="submit"]{
	background:transparent;
	border:none;
	outline: none;
	color: white;
	background-image: radial-gradient( circle 780px at 37.8% 100.3%,  rgba(19,55,115,1) 2.2%, rgba(32,7,80,1) 20.2%, rgba(27,88,111,1) 58.6%, rgba(115,88,44,1) 75%, rgba(99,19,90,1) 89.6%, rgba(12,51,76,1) 96.1% );
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;

}

