*{
	margin: 0;
	padding: 0;
}
/***********************************************************************/
/********************FUENTES ESPECIALES********************************/
@font-face{
	font-family: regular;
	src: url(../fonts/gothic.ttf);
}

@font-face{
	font-family: negrita;
	src: url(../fonts/gothicb.ttf);
}
/******************************************************************************
/****************************CONTENEDOR 01 - HEADER****************************/
.contenedor01{
	background-image: url(../img/loginfondo.svg);
	height: 900px;
	margin-top: -20px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

}



